// recompile command (when working in css folder):
//sass.bat base.scss base.css

// @import "_normalize.scss";
// @import "bootstrap/scss/bootstrap.scss";

html, body, #pagecontainer {
	height: 100%;
	width: 100%;
	max-width: none;
	max-height: none;
}

#container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
	margin: auto auto;
	height: 95%;
	width: 90%;
	
	background-color: #333;
	border: none;
}

#dashboard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	max-width: 35%;
	height: 100%;
	margin-right: 24px;
	
	background-color: #333;
	border: none;
	
	.card {
		padding: 12px;
		background-color: #333;
	}
	
	h3, h5 {
		text-align: center;
		color: white;
	}
	
	ul {
		margin: 0px 12%;
		a {font-size: 20px;}
		li {font-size: 20px;}
	}
	
	#icons div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		
		padding: 0;
		margin: 0;
		
		small {
			margin-left: 8px;
		}
	}
}
		
button {
	margin: 8px 8px;
	// background-color: #3344BB;
	background-color: #FFFFFF00;
	border: 1px solid #000;
	width: 128px;
	height: 128px;
	img {
		width: 96px;
		height: 96px;
	}
}

#iconLinks {
	div {
		display: flex;
		flex-direction: row;
		align-items: center;
		button {
			margin-right: 96px;
			img {
				width: 72px;
				height: 72px;
			}
			height: 96px;
			width: 96px;
		}
	}
}

#pasfooter {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 16px;
	a {
		font-size: 16px;
		color: white;
		margin: 4px 8px;
	}
}

#survey {
	height: 90%;
	width: 90%;
	
	iframe {
		height: 100%;
		width: 100%;
	}
}