// recompile command (when working in css folder):
//sass.bat base.scss base.css

// @import "_normalize.scss";
// @import "bootstrap/scss/bootstrap.scss";

html, body, #pagecontainer {
	small { color: white }
}

#pagecontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#container {
	padding: 0;
	background-color: #333;
	border: none;
}

#menu {
	background-color: #222222aa;
	display: none;
	button {
		border: 1px solid white;
		margin: 8px;
		border-radius: 3px;
	}
	button > i {
		color: white;
	}
}

#dashboard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	background-color: #333;
	border: none;
	min-height: 90vh;
	margin-bottom: 16px;
	
	.card {
		// padding: 12px;
		background-color: #333;
	}
	
	.card-title {
		margin: 16px 0px;
	}
	
	.card-body {
		padding: 8px;
	}
	
	h3, h5 {
		text-align: center;
		color: white;
		margin-top: 8px;
		margin-bottom: 0px;
	}
	
	ul {
		margin: 0px 8%;
		list-style: none;
		a {
			font-size: 20px;
			color: white;
		}
		li {
			font-size: 20px;
			text-align: center;
		}
	}
	
	
	#icons div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		
		padding: 0;
		margin: 0px 0px 16px 0px;
	}
	
	.icon-button {
		width: 30%;
		img {
			max-width: 50%;
			min-width: 50%;
		}
		small {
			overflow: hidden;
			text-align: center;
		}
	}
	
	#iconLinks {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		
		div {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 100%;
			ul {
				margin-bottom: 8px;
				width: 100%;
			}
		}
	}
}

button {
	background-color: #FFFFFF00;
	border: 1px solid #000;
}

#pasfooter {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	a {
		font-size: 16px;
		color: white;
		margin: 4px 8px;
	}
}

#survey {
	iframe {
		min-height: 86vh;
		width: 100%;
	}
}

// large screen adjustments
@media (min-width: 768px) {
	#dashboard .icon-button {
		width: 25%;
	}
	
	#container {
		margin: 0px 10%;
	}
}


@media (min-width: 992px) {
	#dashboard .icon-button {
		width: 20%;
	}
	
	#container {
		margin: 0px 15%;
	}
}