body, #pagecontainer {
    min-height: 100vh;
}

#container {
    min-height: 90vh;
}

#container {
	display: flex;
	flex-direction: row;
	background-color: #333;
	border: none;
	/* border: 1px solid white; */
}

#dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #333;
	color: white;
	/* border: 1px solid white; */
}

#icons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	/* border: 1px solid white; */
}

.icon-button {
	padding: 8px;
	border: none;
}

.icon {
	max-width: 100px;
	max-height: 100px;
}

#iconLinks {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#pasfooter {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 16px;
}

a {
	font-size: 20px !important;
	color: white !important;
}

iframe {
	height: 100%;
}

#footer {
	margin-top: 0px;
}